<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100619211857-g8vcknng3iu9amnocv1f1ehpkb0m9942.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100619211857-g8vcknng3iu9amnocv1f1ehpkb0m9942</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100619211857-fi7tvhk4jars6a4unmh3fb5uvtgctc8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkXSqwXHqp17m1cf3Zt0L2tDR6-GoYsq0</string>
	<key>GCM_SENDER_ID</key>
	<string>100619211857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattyX</string>
	<key>PROJECT_ID</key>
	<string>bachat-aae51</string>
	<key>STORAGE_BUCKET</key>
	<string>bachat-aae51.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100619211857:ios:87e109234ae9f9f1ce1470</string>
	<key>DATABASE_URL</key>
	<string>https://bachat-aae51.firebaseio.com</string>
</dict>
</plist>